{% extends "base.html" %} 

{% block content %}

<div class="container">
<div class="page-header">
    <h1>API Docs
        <small>Clearly a WIP</small>
    </h1>
</div>

<h4>/api/coins</h4>
<p>Returns a json response of all coins
    <a href="/api/coins/">Try it</a>
</p>

<h4>/api/coins?name=something</h4>
<p>Returns a json response of all coins, filtered by a name
    <a href="/api/coins/?name=bitcoin">Try it</a>
</p>
<h4>/api/coins?min_price=anumber</h4>
<p>Returns a json response of all coins, filtered by those with a minimum price
    <a href="/api/coins/?min_price=1000">Try it</a>
</p>
<h4>/api/coins?name=something&min_price=anumber</h4>
<p>Get wild, and filter by both name and min price!
    <a href="/api/coins/?name=bitcoin&min_price=511">Try it</a>
</p>

<h4>/api/groups/</h4>
<p>Returns price and supply data grouped by coin name
    <a href="/api/groups/">Try it</a>
</p>

<h3>About this site</h3>
<p>This site is powered by flask, with datatables, vuejs/ bootstrap on the frontend, + plotlyjs for charting</p>
</div>
</div>

{% endblock %}