{% extends "base.html" %} {% block content %}

<style>
    #currencyNameCounts {
        margin-top: 380px;
    }
</style>

    <div class="row pb-3">
        <input type="checkbox" id="enabledStatus"> Show Enabled Only
    </div>

    <div class="row">
        <div class="row col-md-8">
            <table class="table table-sm " id='myTable'>
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Market Cap</th>
                        <th>Price</th>
                        <th>Supply</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub_dict in template_data %}
                    <tr>
                        <td>{{sub_dict['Name']}}</td>
                        <td>{{sub_dict['Market Cap']}}</td>
                        <td>{{sub_dict['Price']}}</td>
                        <td>{{sub_dict['Supply']}}</td>
                        <td>{{sub_dict['Status']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row col-md-3">
            <h2 class="text-center pl-2">Price vs Supply</h2>
            <div id="bubbleChart" class="position-absolute"></div>
            <ul class="position-absolute" id="currencyNameCounts">
                <h4>Summary Stats</h4>
                <table class="table table-sm " id='myTable'>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Nbr Records</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(key, value) in nameCounts">
                            <td>{% raw %}{{value}}{% endraw %}</td>
                            <td>{% raw %}{{key}}{% endraw %}</td>
                        </tr>
                    </tbody>
                </table>
            </ul>
        </div>

    </div>
</div>
</div>
{% endblock %}